In [1]:
import pandas as pd
import numpy as np

In [5]:
from sklearn.impute import SimpleImputer #handling the missing values
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df = pd.read_csv("covid_toy.csv")

In [9]:
df.sample(5)

    age  gender  fever   cough       city has_covid
89   46    Male  103.0  Strong  Bangalore        No
56   71    Male    NaN  Strong    Kolkata        No
35   82  Female  102.0  Strong  Bangalore        No
7    20  Female    NaN  Strong     Mumbai       Yes
2    42    Male  101.0    Mild      Delhi        No

In [13]:
df.isnull().sum()
# 10 values missing in the fever column

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:6], df.iloc[:,-1], test_size = 0.2)

In [22]:
x_train.sample(5)

    age  gender  fever   cough     city has_covid
46   19  Female  101.0    Mild   Mumbai        No
27   33  Female  102.0  Strong    Delhi        No
7    20  Female    NaN  Strong   Mumbai       Yes
79   48  Female  103.0    Mild  Kolkata       Yes
37   55    Male  100.0    Mild  Kolkata        No

In [21]:
x_test.sample(5)

    age  gender  fever   cough       city has_covid
53   83    Male   98.0    Mild      Delhi       Yes
43   22  Female   99.0    Mild  Bangalore       Yes
86   25    Male  104.0    Mild  Bangalore       Yes
59    6  Female  104.0    Mild    Kolkata       Yes
32   34  Female  101.0  Strong      Delhi       Yes

In [23]:
from sklearn.compose import ColumnTransformer

In [35]:
transformer = ColumnTransformer(transformers=[
    ("tnf1", SimpleImputer(), ["fever"]),
    ("tnf2", OrdinalEncoder(categories = [['Mild', 'Strong']]), ["cough"]),
    ("tnf3", OneHotEncoder(sparse_output = False, drop = 'first'), ["gender", "city"])
], remainder="passthrough")

In [36]:
transformer.fit_transform(x_train)

array([[98.0, 1.0, 0.0, 0.0, 0.0, 1.0, 5, 'No'],
       [98.0, 1.0, 0.0, 1.0, 0.0, 0.0, 40, 'No'],
       [101.0, 1.0, 0.0, 0.0, 1.0, 0.0, 51, 'Yes'],
       [99.0, 1.0, 0.0, 0.0, 0.0, 0.0, 49, 'No'],
       [100.81944444444444, 0.0, 0.0, 1.0, 0.0, 0.0, 75, 'No'],
       [99.0, 0.0, 1.0, 1.0, 0.0, 0.0, 65, 'No'],
       [101.0, 0.0, 0.0, 0.0, 0.0, 1.0, 65, 'No'],
       [98.0, 1.0, 0.0, 0.0, 0.0, 1.0, 81, 'No'],
       [101.0, 0.0, 0.0, 0.0, 0.0, 0.0, 38, 'No'],
       [102.0, 1.0, 0.0, 0.0, 0.0, 0.0, 24, 'Yes'],
       [104.0, 0.0, 1.0, 0.0, 0.0, 1.0, 42, 'No'],
       [98.0, 1.0, 1.0, 0.0, 0.0, 1.0, 23, 'Yes'],
       [100.0, 0.0, 0.0, 0.0, 1.0, 0.0, 19, 'Yes'],
       [100.81944444444444, 0.0, 1.0, 1.0, 0.0, 0.0, 38, 'Yes'],
       [101.0, 0.0, 0.0, 0.0, 1.0, 0.0, 83, 'No'],
       [100.81944444444444, 0.0, 1.0, 0.0, 1.0, 0.0, 82, 'Yes'],
       [100.0, 0.0, 0.0, 0.0, 1.0, 0.0, 5, 'No'],
       [101.0, 0.0, 0.0, 0.0, 0.0, 1.0, 81, 'Yes'],
       [98.0, 1.0, 1.0, 0.0, 0.0, 0.0, 12, 'No'],
       [102.0, 0.0, 0.0, 0.0, 0.0, 0.0, 69, 'No'],
       [104.0, 0.0, 1.0, 0.0, 1.0, 0.0, 51, 'No'],
       [101.0, 0.0, 1.0, 1.0, 0.0, 0.0, 15, 'Yes'],
       [100.0, 1.0, 0.0, 0.0, 0.0, 0.0, 19, 'No'],
       [104.0, 0.0, 0.0, 0.0, 1.0, 0.0, 17, 'No'],
       [99.0, 0.0, 1.0, 0.0, 0.0, 0.0, 72, 'No'],
       [104.0, 1.0, 0.0, 1.0, 0.0, 0.0, 34, 'No'],
       [98.0, 1.0, 1.0, 0.0, 1.0, 0.0, 34, 'Yes'],
       [98.0, 1.0, 0.0, 0.0, 1.0, 0.0, 10, 'Yes'],
       [103.0, 0.0, 0.0, 1.0, 0.0, 0.0, 73, 'No'],
       [101.0, 0.0, 0.0, 1.0, 0.0, 0.0, 49, 'Yes'],
       [102.0, 0.0, 0.0, 1.0, 0.0, 0.0, 49, 'No'],
       [100.0, 0.0, 1.0, 0.0, 0.0, 0.0, 11, 'Yes'],
       [103.0, 0.0, 0.0, 0.0, 1.0, 0.0, 69, 'Yes'],
       [103.0, 0.0, 1.0, 0.0, 1.0, 0.0, 60, 'No'],
       [100.81944444444444, 1.0, 0.0, 0.0, 0.0, 0.0, 42, 'Yes'],
       [102.0, 1.0, 0.0, 0.0, 1.0, 0.0, 82, 'No'],
       [100.81944444444444, 1.0, 1.0, 0.0, 1.0, 0.0, 71, 'No'],
       [98.0, 0.0, 0.0, 0.0, 0.0, 0.0, 64, 'Yes'],
       [103.0, 0.0, 0.0, 0.0, 1.0, 0.0, 50, 'No'],
       [104.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12, 'No'],
       [100.0, 0.0, 1.0, 1.0, 0.0, 0.0, 27, 'Yes'],
       [104.0, 0.0, 1.0, 0.0, 0.0, 1.0, 44, 'No'],
       [100.0, 1.0, 0.0, 0.0, 1.0, 0.0, 13, 'No'],
       [99.0, 1.0, 0.0, 0.0, 1.0, 0.0, 25, 'No'],
       [104.0, 0.0, 0.0, 0.0, 0.0, 0.0, 18, 'No'],
       [100.0, 0.0, 1.0, 0.0, 1.0, 0.0, 27, 'Yes'],
       [101.0, 1.0, 0.0, 1.0, 0.0, 0.0, 68, 'No'],
       [100.0, 0.0, 1.0, 0.0, 1.0, 0.0, 55, 'No'],
       [102.0, 1.0, 0.0, 1.0, 0.0, 0.0, 33, 'No'],
       [103.0, 0.0, 0.0, 0.0, 1.0, 0.0, 48, 'Yes'],
       [100.81944444444444, 0.0, 0.0, 0.0, 0.0, 0.0, 84, 'Yes'],
       [100.0, 1.0, 0.0, 0.0, 1.0, 0.0, 11, 'Yes'],
       [100.0, 0.0, 1.0, 1.0, 0.0, 0.0, 27, 'Yes'],
       [100.0, 1.0, 0.0, 0.0, 0.0, 0.0, 47, 'Yes'],
       [103.0, 1.0, 1.0, 0.0, 0.0, 0.0, 46, 'No'],
       [103.0, 0.0, 1.0, 0.0, 1.0, 0.0, 83, 'No'],
       [102.0, 1.0, 1.0, 1.0, 0.0, 0.0, 20, 'No'],
       [100.0, 0.0, 1.0, 0.0, 0.0, 0.0, 80, 'Yes'],
       [98.0, 0.0, 0.0, 0.0, 1.0, 0.0, 31, 'No'],
       [101.0, 0.0, 0.0, 0.0, 1.0, 0.0, 8, 'No'],
       [99.0, 0.0, 0.0, 0.0, 0.0, 1.0, 60, 'Yes'],
       [100.81944444444444, 1.0, 0.0, 0.0, 0.0, 1.0, 20, 'Yes'],
       [99.0, 0.0, 1.0, 0.0, 0.0, 0.0, 65, 'No'],
       [98.0, 0.0, 0.0, 0.0, 1.0, 0.0, 26, 'No'],
       [104.0, 0.0, 1.0, 0.0, 1.0, 0.0, 16, 'No'],
       [101.0, 1.0, 1.0, 0.0, 0.0, 0.0, 47, 'No'],
       [101.0, 0.0, 0.0, 0.0, 0.0, 1.0, 19, 'No'],
       [102.0, 0.0, 1.0, 0.0, 0.0, 0.0, 64, 'Yes'],
       [101.0, 0.0, 1.0, 1.0, 0.0, 0.0, 19, 'Yes'],
       [100.81944444444444, 1.0, 1.0, 0.0, 1.0, 0.0, 79, 'Yes'],
       [98.0, 0.0, 1.0, 0.0, 0.0, 0.0, 73, 'Yes'],
       [104.0, 1.0, 0.0, 0.0, 0.0, 0.0, 56, 'Yes'],
       [101.0, 0.0, 0.0, 1.0, 0.0, 0.0, 64, 'No'],
       [98.0, 0.0, 1.0, 0.0, 1.0, 0.0, 24, 'Yes'],
       [102.0, 0.0, 1.0, 0.0, 0.0, 1.0, 74, 'Yes'],
       [104.0, 1.0, 0.0, 1.0, 0.0, 0.0, 75, 'No'],
       [99.0, 1.0, 0.0, 1.0, 0.0, 0.0, 59, 'No'],
       [103.0, 0.0, 0.0, 0.0, 0.0, 0.0, 16, 'Yes'],
       [98.0, 1.0, 0.0, 0.0, 0.0, 1.0, 69, 'No'],
       [99.0, 0.0, 0.0, 0.0, 0.0, 1.0, 14, 'Yes']], dtype=object)

In [37]:
transformer.fit_transform(x_train).shape

(80, 8)

In [40]:
transformer.fit_transform(x_test).shape

(20, 8)